h1 {
	font-size: 20px;
}

/*font-family: "Apple Symbols";
	font-size: 22px;
	font-style: italic;
	font-weight: 100;
	text-align: center;
	text-transform: uppercase;
	color: #6AABFF;*/

/*@font-face {

}

body {

}

*/