.newImage {
  width: 20rem;
  margin-bottom: 20px;
}

.imgGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 25rem);
  text-align: center;
  margin-left: 10rem;
  margin-right: 100px;
  margin-bottom: 5rem;
  margin-top: 50px;
}

.aboutDiv {
  margin-left: 5rem;
  margin-right: 1rem;
  margin-bottom: 5rem;
}

.titleDiv {
  margin-left: 5rem;
  margin-right: 1rem;
}

.carpentryTitle {
  text-align: center;
  font-size: 40px;
  color: #3d005b;
}

.carpentrySub {
  text-align: center;
  font-size: 20px;
}