.socialIcons {
  padding: 10px;
  font-size: 30px;
  margin-top: -50px;
  margin-bottom: 50px;
}

.contactBox {
  display: inline-block;
}

.outerBox{
  text-align: center;
}

.listItem {
  display: inline-block;
}