.navigation-bar-container {
  width: 100%;
  text-align: right;
  display: inline-block;
}

.logo {
  margin-top: 3.5rem;
  margin-right: 2rem;
}

@media (max-width: 500px) {
  .logo {
    margin-left: 30px;
  }
}

.logoLink {
  font-size: 3.3rem;
  font-weight: 600;
  color: #3d005b;
  text-decoration: none;
}