.titleBox, .nameBox {
	text-align: left;
	margin-left: 3rem;
  margin-right: 1rem;
  margin-bottom: 3rem;
}

.middleBox {
	
}

.bodyBox {

}

.title, .name {
  color: #3d005b;
}

.body {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.link, .codeproject {
	color: #d1b2e0;
}

.outerSectionBox {
	text-align: left;
	margin-left: 3rem;
  margin-right: 1rem;
  margin-bottom: 5rem;
}


