@font-face {
	font-family: SanFrancisco;
	src: url(../fonts/SF-Pro-Display-Thin.otf) format("opentype");
	font-weight: normal;
	font-size: normal;
}
@font-face {
	font-family: SanFranciscoBold;
	src: url(../fonts/SF-Pro-Display-Semibold.otf) format("opentype");
	font-weight: normal;
	font-size: normal;
}

body {
	background: #6BCBFF;
}

.home {
	font-family: SanFranciscoBold;
}

/*
 *
 *
 *
 *
 * NAVBAR */
.navbar {
	font-family: SanFranciscoBold;
	width: 100%;
	height: 60px;
	background: black;
}

.navbar-brand {
	display: block;
	margin-left: 20px; 
	font-size: 45px;
	/* opacity is last value --> color: rgba(77, 0, 255, 0.5); */
}

.navbar-nav {
	margin: auto;
}

.nav-item {
	display: block;
	text-decoration: none;
	font-size: 20px;
	color: white;
	padding: 0 5px;
}

.nav-item:active {
	display: block;
	text-decoration: none;
	font-size: 20px;
	color: black;
	padding: 0 20px;
}

.nav-item:hover {
	display: block;
	text-decoration: none;
	font-size: 23px;
	color: black;
	padding: 0 20px;
}
/* END OF NAVBAR */

/*
 *
 *
 *
 *
 * LANDING PAGE */
.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  display: table;
  z-index: -1;
}

.home-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.home-inner {
	background-image: url(../images/skyline.jpeg);
  	position: fixed;
  	display: table;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	background-size: cover;
  	background-position: center center;
  	-webkit-transform: translateZ(0);
        transform: translateZ(0);
  	will-change: transform;
  	text-indent: 125px;
  	font-family: SanFranciscoBold;
  	font-size: 100px;

}
/* END OF LANDING PAGE */

/*
 *
 *
 *
 *
 * DRAGGABLES */
#drag-1 {
	display: inline-block;
	text-align: center;
  	width: 15%;
  	margin-left: 20%;
  	background-color: #2B8EFF;
  	color: white;
  	border-radius: 0.75em;
  	padding: 2%;
  	touch-action: none;
  	user-select: none;
  	-webkit-transform: translate(0px, 0px);
          	transform: translate(0px, 0px);
}

#drag-2 {
	display: inline-block;
	text-align: center;
	margin-left: .75%;
	width: 15%;
  	background-color: #FECC12;
  	color: white;
  	border-radius: 0.75em;
  	padding: 2%;
  	touch-action: none;
  	user-select: none;
  	-webkit-transform: translate(0px, 0px);
          	transform: translate(0px, 0px);
}

#drag-3 {
	display: inline-block;
	text-align: center;
	margin-left: .75%;
	width: 15%;
  	background-color: #3BB63E;
  	color: white;
  	border-radius: 0.75em;
  	padding: 2%;
  	touch-action: none;
  	user-select: none;
  	-webkit-transform: translate(0px, 0px);
          	transform: translate(0px, 0px);
}

#drag-4 {
	display: inline-block;
	text-align: center;
	margin-left: .75%;
	width: 15%;
  	background-color: #E14A3A;
  	color: white;
  	border-radius: 0.75em;
  	padding: 2%;
  	touch-action: none;
  	user-select: none;
  	-webkit-transform: translate(0px, 0px);
          	transform: translate(0px, 0px);
}

#drag-5 {
	display: inline-block;
	text-align: center;
	margin-left: .75%;
	width: 15%;
  	background-color: #49B0BB;
  	color: white;
  	border-radius: 0.75em;
  	padding: 2%;
  	touch-action: none;
  	user-select: none;
  	-webkit-transform: translate(0px, 0px);
          	transform: translate(0px, 0px);
}

#box-tag {
	color: white;
	font-size: 20px;
}

#box1, #box2, #box3, #box4, #box5 {
	text-align: center;
}
/* END OF DRAGGABLES */

/*
 *
 *
 *
 *
 * ABOUT ME */
 #titles {
 	font-family: SanFranciscoBold;
 	font-size: 30px;
 	margin-left: 5%;
 }

 .jumbotron {
 	font-family: SanFranciscoBold;
 	font-size: 20px;
 	margin-left: 20%;
 	text-align: center;
 	opacity: 0.5;
 }
/* END OF ABOUT ME */


/*
 *
 *
 *
 *
 * SKILLS */
#jtron {
	font-family: SanFranciscoBold;
 	font-size: 20px;
 	text-align: right;
 	opacity: 0.5;
}

#jtron-skill {
	font-family: SanFranciscoBold;
 	font-size: 25px;
 	text-align: right;
 }
/* END OF SKILLS */

/*
 *
 *
 *
 *
 * PORTFOLIO */

 #p-title {
 	text-align: left;
 	font-size: 25px;
 }

#p-intro {
	text-align: left;
	font-style: italic;
	font-size: 18px;
}

#p-body {
	text-align: justify;
}

#seperator {
	font-size: 50px;
	text-align: center;
	color: #4EA8D9;
}

/* CAROUSEL */
.carousel-img {
	height: 500px;
	width: 100%;
}

.carousel-caption {
	margin-bottom: 50px;
}

.slide {

}
/* END OF CAROUSEL */
/* END OF PORTFOLIO */

/*
 *
 *
 *
 *
 * CONTACT ME */
 #jtron-contact {
 	font-size: 25px;
 	height: 150px;
 }

#myGithubInput, #myLinkedinInput, #myFacebookInput, 
#myTwitterInput, #myInstagramInput, #myEmailInput{
	opacity: .20;
	font-size: 2px;
}

#contact-button {
	border: none;
	background: none;
	color: #C2782E;
}

#contact-img {
	height: 50px;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  	filter: grayscale(100%);
}

#contact-row {
	height: 0px;
	background-color: white;
}

#contact-head {
	display: inline-block;
	height: 350px;
	align: left;
	margin-left: 50%;
}

.spacer {
	height: 30px;
}
/* END OF CONTACT ME */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { ... }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }
